<div class="user-registration">
  <form nz-form nzLayout="vertical" #f="ngForm" (ngSubmit)="submit(f.value)">
    <nz-form-item>
      <nz-form-label nzFor="username" [nzSpan]="7" nzRequired>Username</nz-form-label>
      <nz-form-control nzErrorTip="Le nom de l'utilisateur doit avoir au moins 4 caractères">
        <input class="ant-input" type="text" name="username" id="username" [(ngModel)]="model.username"
          #username="ngModel" required minlength="4" >
          <!-- <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            Le nom de l'utilisateur est obligatoire
          </div> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password" [nzSpan]="7" nzRequired>Mot de passe</nz-form-label>
      <nz-form-control  nzErrorTip="Le mot de passe doit-être d'au moins 7 caractères !">
        <input class="ant-input" type="password" name="password" id="password" [(ngModel)]="model.password"
          #pswd="ngModel" required minlength="7">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="confirm-password" [nzSpan]="7" nzRequired>Confirmation du mot de passe</nz-form-label>
      <nz-form-control  nzErrorTip="Vous devez confirmez votre mot de passe !" >
        <input class="ant-input" type="password" name="confirm-password" id="confirm-password"
         [(ngModel)]="model.confirmPassword" #confirm="ngModel" required minlength="7" >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button type="submit" class="register-button"  nz-button nzType="default" [disabled]="f.form.invalid">S'enregistrer</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <p class="divider">Déjà enregistré ?</p>
  <button class="login-button" nz-button nzType="primary" (click)="goToLogin()">Connectez-vous</button>
</div>
